@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  background: none;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
}

#search-bar1 {
  border-color: red;
}

#search-form-menu {
  margin-top: 200px;
  margin-left: 15%;
}

#menu-wraper {
  overflow-y: auto;
  position: fixed;
  background: #030d31;
  opacity: 0.97;
  background-size: cover;
  z-index: 200;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
  backdrop-filter: blur(6px);
  width: 100%;
  height: 100%;
}

ol,
ul {
  list-style: none;
}

:root {
  --color-primary: #eef5db;
  --color-secondary: #050f1a;
  --color-dark: #0a2239;
  --radius: 20px;
  --radius-small: 10px;
  --font: 500 1.1rem 'Poppins', sans-serif;
}

.search-form {
  display: flex;
  display: none;
}

#menu {
  width: 45px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

body {
  background: rgb(4, 19, 42);
  background: linear-gradient(90deg, rgba(4, 19, 42, 1) 0%, rgba(0, 0, 0, 0.95) 50%, rgba(4, 19, 42, 1) 100%);
}

header {
  background: var(--color-secondary);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;
}

.overlay {
  display: none;
}

.logo-wrap {
  display: flex;
  align-items: center;
}

.logo-name {
  font: var(--font);
  padding-left: 20px;
}

.logo {
  width: 60px;
  height: 60px;
  animation: logo-spin infinite 5s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header-main-wrap {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.selection-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 10px;
}

select {
  background: var(--color-secondary);
  font: var(--font);
  font-size: 1rem;
  height: 30px;
  border-radius: 8px;
  padding-right: 10px;
}

select option {
  background: var(--color-dark);
}

#movie-db-info {
  background: var(--color-dark);
  text-align: center;
  padding: 10px;
  font: var(--font);
}

#all-shows {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: space-around;
  gap: 50px;
  width: 80%;
  margin: 200px auto;
  justify-items: center;
}

.show {
  position: relative;
  height: 350px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #0a2239;
  border-radius: var(--radius);
  box-shadow:
    rgba(66, 84, 100, 0.48) 6px 2px 16px 0,
    rgba(66, 84, 100, 0.2) 6px 2px 16px 0;
}

.open-show {
  display: none;
}

.show > h3 {
  font: var(--font);
  text-align: center;
  padding: 10px;
  line-height: 30px;
}

.show > img {
  width: 100%;
  height: 240px;
}

.show-btns {
  display: grid;
  grid-template-columns: 10px 10px auto;
  align-items: center;
  column-gap: 10px;
  padding: 10px;
}

.fa-comment {
  justify-self: flex-end;
}

.like-count {
  font: 500 0.85rem var(--font);
  margin-left: 10px;
}

i {
  cursor: pointer;
}

/* movie popup */
.movie-popup {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--color-secondary);
  justify-content: center;
  align-items: center;
  z-index: 120;
}

.movie-popup-wrap {
  position: relative;
  overflow: auto;
  padding: 15px;
  width: 85%;
  height: 90vh;
  background-color: var(--color-dark);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  font: var(--font);
}

/* body::-webkit-scrollbar */
.movie-popup-wrap::-webkit-scrollbar {
  width: 0%;
}

.movie-popup-content {
  background: var(--color-secondary);
  padding: 20px;
  border-radius: var(--radius);
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 20px;
}

.movie-popup-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  cursor: pointer;
}

.movie-popup-info {
  display: grid;
  grid-template-rows: auto;
  row-gap: 20px;
  padding: 10px 0;
  align-items: center;
}

.movie-popup-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius);
}

/* movie popup end */

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--color-secondary);
  border-radius: var(--radius);
  padding: 20px;
}

.comment-section,
.comment-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  font: 1em var(--font);
}

.comment-list {
  align-items: flex-start;
}

form {
  width: 70%;
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
  justify-items: center;
  padding: 15px 0;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  font-size: 1.2em;
  border: 2px solid var(--color-primary);
  border-radius: 3px;
}

label {
  display: none;
}

input::placeholder,
textarea::placeholder {
  color: #bbbfc2;
  font: var(--font);
}

button {
  border: 2px solid var(--color-primary);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

/* comment section end */
footer {
  display: flex;
  align-items: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: var(--color-secondary);
  font: var(--font);
  z-index: 110;
}

footer > p {
  font-size: 1.1rem;
  padding-left: 20px;
}

footer > p > a {
  text-decoration: underline;
}

.loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .logo-name {
    font-size: 2rem;
  }

  .search-form {
    display: flex;
  }

  #menu-wraper {
    display: none;
  }

  #menu {
    display: none;
  }

  .selection-wrap {
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
  }

  .movie-popup-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
  }

  .movie-popup-img {
    width: 40%;
    height: 600px;
  }

  .movie-popup-info {
    width: 55%;
    height: max-content;
  }

  .like-btn:active,
  .like-btn:hover {
    color: red;
    font-size: 1.3rem;
  }

  .fa-comment:hover {
    font-size: 1.3rem;
  }

  form {
    width: 50%;
  }

  #submit:hover {
    padding: 12px;
    font-size: 1.2rem;
  }

  .overlay {
    display: block;
  }

  .img-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    filter: blur(1px);
  }

  body::-webkit-scrollbar {
    width: 10px;
    background: var(--color-primary);
  }

  .scroll-hide::-webkit-scrollbar {
    width: 0%;
  }

  .img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .text-container {
    position: fixed;
    z-index: 101;
    top: 30%;
    left: 20%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(10, 34, 57, 1));
    padding: 50px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--radius);
  }

  .text-container > button {
    font-size: 1.7rem;
  }

  .text {
    font: var(--font);
    font-size: 1.3rem;
  }

  .fa-play {
    margin-left: 10px;
  }

  .open-show {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #050f1a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    transition: 700ms;
  }
}

#search-bar {
  width: 200px;
  color: wheat;
}

#notfound {
  color: red;
}
