@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  background: none;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

:root {
  --color-primary: #ffc107;
  --color-secondary: #f8f9fa;
  --color-tertiary: #212529;
  --border: 3px solid var(--color-tertiary);
  --radius: 5px;
  --font: 'Lato', sans-serif;
}

body {
  background-color: var(--color-secondary);
}

.logo {
  width: 60px;
  height: 60px;
}

.logo-wrap {
  display: flex;
  align-items: center;
}

.selection-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 10px;
}

.header-main-wrap {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-tertiary);
  padding: 10px 30px;
}

select {
  font-size: 1rem;
  height: 30px;
  border-radius: 8px;
  background: var(--color-secondary);
  padding-right: 10px;
}

.header-info {
  text-align: center;
}

.logo-name {
  color: var(--color-secondary);
  font-size: 1.5rem;
  padding-left: 20px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  display: flex;
  align-items: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: var(--color-tertiary);
  font-family: var(--font);
}

footer > p {
  color: var(--color-secondary);
  font-size: 1.1rem;
  padding-left: 20px;
}

footer > p > a {
  text-decoration: underline;
}

@media only screen  and (min-width: 768px) {
  .selection-wrap {
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
  }
}
